<!DOCTYPE html>
<html>
<head>
	<title>ASK ME</title>
	<link rel="stylesheet" type="text/css" href="app/style.css">
</head>
<body class="simple">

<div id="inputContainer">
  <h1>
    <span>A</span><span>s</span><span>k</span> <span>M</span><span>e</span>
  </h1>
  <div class="input-box">
    <input id="input" type="text" />
  </div>
</div>
<div id="auto-complete"></div>
<div id="statistic"></div>

<div id="list"></div>

<div class="templates">
  <div id="tpl-statistic">
    <div><%=count%> results, <%=seconds%> microseconds</div>
  </div>

  <div id="tpl-list">
    <% results.forEach(function(result) { %>

      <div class="sect">
        <h3><a href="<%=result.url%>"><%=result.name%></a></h3>
        <div class="body">
          <div class="url"><%=result.url%></div>
          <div class="desc"><%=result.desc%></div>
        </div>
        <div class="foot">
          <%result.keyArray.forEach(function(key){%>
            <span><%=key%></span>
            <%})%>
        </div>
      </div>

    <% }) %>

  </div>

  <div id="tpl-auto-complete">
    <%if(results.length>0){%>
    <div class="auto-complete">
      <%results.forEach(function(index){%>
        <span><%=index%></span>
      <%});%>
    </div>
    <%}%>
  </div>

</div>

<script type="text/javascript" src="lib/minerr.js"></script>
<script type="text/javascript" src="lib/common.js"></script>
<script type="text/javascript" src="lib/jqlite.js"></script>
<script type="text/javascript" src="lib/injector.js"></script>
<script type="text/javascript" src="lib/ejs.js"></script>
<script type="text/javascript" src="data.js"></script>
<script type="text/javascript" src="app/app.js"></script>
<script type="text/javascript" src="app/engine.js"></script>
<script type="text/javascript">
  $define('enter', ['input', 'index', 'list', 'statistic','autoComplete', function(s, i, stat) {
    console.log("app running");
    // console.log(i.index);
  }]);

  $(document).ready(function() {
    $injector.get('enter');
  });
</script>

</body>
</html>


<!--

      <div>
        <h2>name</h2>
        <div class="body">
          <div>url</div>
          <div>description</div>
        </div>
      </div>
      
      <div>
        <h2>name</h2>
        <div class="body">
          <div>url</div>
          <div>description</div>
        </div>
      </div>
      
      <div>
        <h2>name</h2>
        <div class="body">
          <div>url</div>
          <div>description</div>
        </div>
      </div>



-->