* {padding: 0; margin: 0;box-sizing: border-box;}

h1 {font-family: daunpenh; font-weight: normal; cursor: pointer;}
.simple h1 {font-size: 70px;}
.detail h1 {font-size: 40px; padding: 0 20px; float: left;}

h1 span:nth-child(1) {color: #555; }
h1 span:nth-child(2) {color: #666; }
h1 span:nth-child(3) {color: #888; }
h1 span:nth-child(4) {color: #777; }
h1 span:nth-child(5) {color: #666; }

input {
  font: 17px arial, sans-serif;
  border: 0; height: 27px; width: 100%;
  background: #fff;
}

input:focus {
  /*
  border: solid 1px #4d90fe;
  border: solid 1px #999;
  */
  outline: none;
}

a {text-decoration: none; font-weight: normal; color: #440;}
a:hover {text-decoration: underline;}
a:visited {color: #777;}

.auto-complete a {color: #777; padding-right: 7px;}
.auto-complete a:hover {color: #222; text-decoration: none;}


.input-box {
  width: 550px; height: 40px;
  border: solid 1px #d9d9d9; padding: 5px 9px 0 9px;
  background: #fff;
  overflow: hidden;
}

.input-focus {
  border: solid 1px #aaa;
}

.simple #inputContainer {
  text-align: center; padding-top: 200px;
}

.simple .input-box {
  display: inline-block;
}

.detail #inputContainer {
  background-color: #f1f1f1;
  border-bottom: 1px solid #666;
  border-color: #e5e5e5;
  height: 60px; overflow: hidden; padding-top: 10px;
  position: relative;
}

.detail .input-box {
  position: absolute; left: 130px;
}
.simple #auto-complete {
  display: none;
}
.detail #auto-complete {
  display: block;
}
.auto-complete{
  border-bottom: solid 1px #e8e8e8;
  padding: 5px 20px;
  background: #f9f9f9;
  font-family: arial, sans-serif;
  font-size: 13px;
}
#statistic, #list{
  font-family: arial, sans-serif; font-size: 13px;
  margin: 15px 120px 23px 120px;
}

#statistic {
  color: #808080;
}

#list {
  color: #545454;
  margin-bottom: 100px; max-width: 1200px;
}

.sect {
  margin-bottom: 23px;
}

.sect .foot span {
  background-color: #eee; padding: 0 2px;
}

#list .url {
  color: #006621; font-size: 14px;
}

#list .desc {
  margin: 3px 0;
}

#list h3 {font-size: 18px;}

@media (max-width: 700px) {
  .detail .input-box {
    width: initial;
    right: 20px;
  }
}

@media (max-width: 600px) {
  .simple .input-box {
    width: 90%;
  }
}

.templates {display: none;}


/*

.test {
	font-family: STXihei, Adobe Song Std, STXinwei, Arial,Calibri,Centaur,Century Gothic,Chiller,DaunPenh
}


.header:after {
  content: '';
  clear: both;
  display: block;
}
.complete {
  height: 500px;
  border: solid 1px #ccc;
  border-top: 0;
  display: none;
}

*/

#logconsole {
    position: fixed;
    top: 0;
    left: 0;
    /* width: 500px; */
    background: rgba(255, 255, 255, 0.6);
    z-index: 9999;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
    padding: 4px;
    font-family: arial;
    font-size: 13px;
}