* {padding: 0; margin: 0;box-sizing: border-box;}

body {text-align: center; padding-top: 200px;}

h1 {font-family: DaunPenh; font-size: 70px; font-weight: normal;}

h1 span:nth-child(1) {color: #555; }
h1 span:nth-child(2) {color: #666; }
h1 span:nth-child(3) {color: #888; }
h1 span:nth-child(4) {color: #777; }
h1 span:nth-child(5) {color: #666; }


.box {
  width: 550px;
  display: inline-block;
}

.input {
  height: 40px;
  border: solid 1px #d9d9d9;
  padding: 5px 9px 0 9px;
  overflow: hidden;
}

input {
	font: 17px arial, sans-serif;
  border: 0;
  width: 100%; height: 27px;
}

input:focus {
  /*
	border: solid 1px #4d90fe;
	border: solid 1px #999;
  */
	outline: none;
}

.inputFocus {
  border: solid 1px #aaa;
}

.complete {
  height: 500px;
  border: solid 1px #ccc;
  border-top: 0;
  display: none;
}


@media (max-width: 600px) {
  input {
    width: 90%;
  }

  .complete {
    width: 90%;
  }

}


/*
h1 {text-align: center;}
*/

.test {
	font-family: STXihei, Adobe Song Std, STXinwei, Arial,Calibri,Centaur,Century Gothic,Chiller,DaunPenh
}

